body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(255, 255, 165);
}

.image{
    border: 5px solid green;
    border: 5px solid rgba(45, 36, 31, 0.285);
    border-radius: 10px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;

} 

.titulo{
    color: blue;
}


.centrado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
