body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(255, 255, 165);
}

.image{
    border: 5px solid rgba(224, 132, 56, 0.336);
    border-radius: 10px;
    height: 500px;
    width: 500px;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}
.centrado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}